{
  "openapi": "3.0.0",
  "info": {
    "title": "Mirats Quanto Publisher API",
    "description": "API documentation for Mirats Quanto Publisher services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.publisher.miratsquanto.com/api/v1/publisher",
      "description": "Publisher API Base URL"
    }
  ],
  "paths": {
    "/surveys": {
      "post": {
        "summary": "Get All Live Surveys",
        "operationId": "getAllLiveSurveys",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorizationKey": {
                    "type": "string",
                    "description": "Project web API key",
                    "example": "DqcInvhIFAl5WtUNwihFUIgUH77EL2hTNRU"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country code (e.g., US, IN)",
                    "example": "US"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language (optional)",
                    "example": "English"
                  },
                  "lengthOfInterviewGTE": {
                    "type": "integer",
                    "description": "Minimum length of interview (optional)",
                    "example": 1
                  },
                  "lengthOfInterviewLTE": {
                    "type": "integer",
                    "description": "Maximum length of interview (optional)",
                    "example": 5
                  },
                  "collectPII": {
                    "type": "boolean",
                    "description": "Whether to collect PII (optional)",
                    "example": false
                  },
                  "CPIGTE": {
                    "type": "integer",
                    "description": "Minimum CPI (optional)",
                    "example": 1
                  },
                  "CPILTE": {
                    "type": "integer",
                    "description": "Maximum CPI (optional)",
                    "example": 5
                  },
                  "surveyGroupExists": {
                    "type": "boolean",
                    "description": "Whether a survey group exists (optional)",
                    "example": false
                  },
                  "incidenceRateGTE": {
                    "type": "integer",
                    "description": "Minimum incidence rate (optional)",
                    "example": 1
                  },
                  "incidenceRateLTE": {
                    "type": "integer",
                    "description": "Maximum incidence rate (optional)",
                    "example": 25
                  }
                },
                "required": ["authorizationKey", "country"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "surveys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "surveyNumber": { "type": "integer", "example": 100000001 },
                          "surveysId": { "type": "string", "example": "encryptedSurveyId" },
                          "loi": { "type": "integer", "example": 5 },
                          "ir": { "type": "integer", "example": 25 }
                        }
                      }
                    },
                    "surveysCount": { "type": "integer", "example": 1 },
                    "projectName": { "type": "string", "example": "Testing project" },
                    "projectNumber": { "type": "integer", "example": 100000001 },
                    "organisation": { "type": "string", "example": "mirats insights" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "internal server error" },
                    "code": { "type": "integer", "example": 500 },
                    "success": { "type": "boolean", "example": false }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/surveys/one/{surveyNumber}": {
      "post": {
        "summary": "Get Single Survey",
        "operationId": "getSingleSurvey",
        "parameters": [
          {
            "name": "surveyNumber",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "example": 100000001 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorizationKey": {
                    "type": "string",
                    "description": "Project web API key",
                    "example": "DqcInvhIFAl5WtUNwihFUIgUH77EL2hTNRU"
                  }
                },
                "required": ["authorizationKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "loi": { "type": "integer", "example": 7 },
                    "ir": { "type": "integer", "example": 25 },
                    "surveyNumber": { "type": "integer", "example": 100000001 },
                    "qualification": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "question": { "type": "string", "example": "What industry do you work in?" },
                          "validOptions": {
                            "type": "array",
                            "items": { "type": "string", "example": "Insurance" }
                          },
                          "displayOptions": {
                            "type": "array",
                            "items": { "type": "string", "example": "Technology" }
                          }
                        }
                      }
                    },
                    "projectName": { "type": "string", "example": "Testing project" },
                    "projectNumber": { "type": "integer", "example": 100000001 },
                    "organisation": { "type": "string", "example": "mirats insights" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "internal server error" },
                    "code": { "type": "integer", "example": 500 },
                    "success": { "type": "boolean", "example": false }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/surveys/{surveyNumber}/qualification": {
      "post": {
        "summary": "Get Survey Qualification",
        "operationId": "getSurveyQualification",
        "parameters": [
          {
            "name": "surveyNumber",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "example": 100000001 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorizationKey": {
                    "type": "string",
                    "description": "Project web API key",
                    "example": "DqcInvhIFAl5WtUNwihFUIgUH77EL2hTNRU"
                  }
                },
                "required": ["authorizationKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "surveyNumber": { "type": "integer", "example": 100000001 },
                    "qualification": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "question": { "type": "string", "example": "What industry do you work in?" },
                          "validOptions": {
                            "type": "array",
                            "items": { "type": "string", "example": "Insurance" }
                          },
                          "displayOptions": {
                            "type": "array",
                            "items": { "type": "string", "example": "Technology" }
                          }
                        }
                      }
                    },
                    "projectName": { "type": "string", "example": "Testing project" },
                    "projectNumber": { "type": "integer", "example": 100000001 },
                    "organisation": { "type": "string", "example": "mirats insights" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "internal server error" },
                    "code": { "type": "integer", "example": 500 },
                    "success": { "type": "boolean", "example": false }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/surveys/{surveyNumber}/link": {
      "post": {
        "summary": "Generate Survey Link",
        "operationId": "generateSurveyLink",
        "parameters": [
          {
            "name": "surveyNumber",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "example": 100000001 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorizationKey": {
                    "type": "string",
                    "description": "Project web API key",
                    "example": "DqcInvhIFAl5WtUNwihFUIgUH77EL2hTNRU"
                  }
                },
                "required": ["authorizationKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "testLink": { "type": "string", "example": "https://api.publisher.miratsquanto.com/start?pid=someencryptedid&org=someencryptedid&sId=someencryptedid&supId=someencryptedid&orgId=someencryptedid&sn=100000001&t=1&r=xxxxx" },
                    "liveLink": { "type": "string", "example": "https://api.publisher.miratsquanto.com/start?pid=someencryptedid&org=someencryptedid&sId=someencryptedid&supId=someencryptedid&orgId=someencryptedid&sn=100000001&t=0&r=xxxxx" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "internal server error" },
                    "code": { "type": "integer", "example": 500 },
                    "success": { "type": "boolean", "example": false }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "publisher-authentication-key": {
        "type": "apiKey",
        "in": "header",
        "name": "publisher-authentication-key"
      }
    }
  },
  "security": [
    {
      "publisher-authentication-key": []
    }
  ]
}
